.about-me {
    display: flex;
    flex-direction: column;
	text-align: center;
    justify-content: center;
}

.about-me-text {
    font-weight: bold;
    font-size: 40px;
}

.about-me-content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.right-half-content {
    align-items: left;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.box {
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px 40px;
    flex: 1
}

.text-box {
    text-align: left;
}

.box-title {
    font-size: 20px;
    font-weight: bold;
}
