@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	margin-left: 100px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin-right: 100px;
}

ul li {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

ul li a {
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
}

ul li a:hover {
	background-color: #817F7E;
}

.home-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	text-align: center;

}

.home-content .name{

	font-size: 40px;
	font-weight: bold;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Adding shadow effect */
}

.home-content .intro{
	font-size: 20px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Adding shadow effect */
}

.home-content .separator {
	width: 70%; /* Adjust width as needed */
	margin: auto; /* Center the horizontal line */
	margin-top: 20px; /* Adjust top margin as needed */
	margin-bottom: 20px; /* Adjust bottom margin as needed */
	border: none; /* Remove default border */
	border-top: 2px solid #333; /* Add border on top to create the line */
}

.button-container {
	margin-top: 20px;
}
.button {
	margin: 0 10px; 
	padding: 10px 20px; 
	background-color: #18B1E4; 
	color: #fff; 
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.button:hover {
	background-color: #214fcf; 
}